@use "./variables.scss" as *;

// put your custom CSS here!

.markdown-preview-view.markdown-rendered svg {
    stroke: currentColor !important;
    fill: currentColor !important;
    fill-opacity: 0.8;
}